// TBD
body {
  min-height: 100vh;
  background-color: $project-primary;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
